export HDWALLET_MNEMONIC=
export ADMIN_ADDRESS=
export LOCAL_ADMIN_ADDRESS=
export LOCAL_ADMIN_ADDRESS_2=
export INFURA_PROVIDER_URL_KOVAN=
export LOCAL_BUIDLEREVM_PORT=8545
export COINMARKETCAP_API_KEY=

